<template name="shopReceiptsShow">
  {{#with receipt}}
  <div class="padded">
    <ul class="collapsible" data-collapsible="accordion">
      {{#each items}}
      <li>
        <div class="collapsible-header">
          {{name}}
          <span class="right">{{quantity}} x RM{{unitPrice}}</span>
        </div>
        <div class="collapsible-body">
        </div>
      </li>
      {{/each}}
      <li>
        <div class="collapsible-header">
          <strong>Total:</strong>
          <span class="right"><strong>RM{{total}}</strong></span>
        </div>
      </li>
    </ul>
    {{#if isOwner}}
    <a class="btn waves-effect black-text waves-blue white full-width"
       href="{{pathFor 'shop.receipts.items.new'}}">
      <i class="material-icons left">add</i><span class="left">Add</span>
    </a>
    {{/if}}
  </div>
  {{/with}}
  {{#if isOwner}}
  <div class="z-depth-2 padded">
    <a class="btn waves-effect waves-light pink full-width" href="#">
      Cash <i class="material-icons right">attach_money</i>
    </a>
  </div>
  {{/if}}

  {{#each viewers}}
  <div class="viewer grey darken-4 white-text padded">
    User {{viewerId}} wants to view
    <div class="right">
      <a href="#" class="red-text reject"><i class="left material-icons">close</i></a>
      <a href="#" class="green-text accept"><i class="right material-icons">done</i></a>
    </div>
  </div>
  {{/each}}
</template>
