@import "variables";

body {
  background: color("light-grey", "base");
}

header,
main,
footer {
  padding-left: 240px;
  @media only screen and (max-width : 992px) {
    padding-left: 0;
  }
}

.padded {
  padding: $spacing;
}

ul.collapsible {
  margin: 0;
  padding: 0;
}

.collapsible-header {
}
