<template name="pagesHome">
  <form id="connect">
    <div class="connection padded center">
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" name="shop-code" id="shop-code" value="" />
          <label for="shop-code">
            Shop code
          </label>
        </div>
      </div>
      <button class="btn pink waves-effect waves-light" type="submit" name="action">
        Connect
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</template>
